/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.author-page {
  width: 100vw;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow: scroll;
}

.author-page > .author-name {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 36px;
}

.author-page > .author-articles {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.author-page > .author-articles > .author-article {
  margin-bottom: 20px;
}

.author-page > .author-articles > .author-article > .author-article-title {
  width: 300px;
  font-size: 30px;
  margin-bottom: 10px;
}

.author-page > .author-articles > .author-article > .author-article-sub-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.author-article-tags {
  display: flex;
  flex-wrap: wrap;
}

.author-tag {
  margin-right: 10px;
}