/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.articles {
  width: 500px;
}

.home-article{
  margin-bottom: 40px;
}

.article-title {
  font-size: 36px;
  color: #24ABC0;
  margin-bottom: 10px;
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.article-tag {
  margin-right: 10px;
}

.article-sub-title {
  color: #777777;
  margin-bottom: 10px;
}

.author {
  display: flex;
  align-items: center;
  height: 30px;
  color: #24ABC0;
}

.author-name {
  margin-left: 10px;
}