/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.home {
  width: 100vw;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow: scroll;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  widows: 100vw;
  height: calc(100% - 100px);
  padding-top: 30px;
}