/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.popular-tags {
  width: 300px;
}

.title {
  width: 250px;
  color: #24ABC0;
  font-size: 36px;
  border-bottom: solid 3px #24ABC0;
  margin-bottom: 20px;
}

.popular-tag {
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.rank {
  font-size: 36px;
  margin-right: 20px;
  color: #24ABC0;
}

.name {
  font-size: 32px;
  color: #777777;
}