/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.popular-articles {
  width: 280px;
  padding-left: 20px;
}

.title {
  width: 250px;
  color: #24ABC0;
  font-size: 36px;
  border-bottom: solid 3px #24ABC0;
  margin-bottom: 20px;
}

.popular-article {
  margin-bottom: 20px;
}

.popular-article-tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.popular-article-tag {
  margin-right: 10px;
}

.popular-article-title {
  font-size: 28px;
  color: #24ABC0;
  margin-bottom: 6px;
}

.popular-article-sub-title {
  color: #777777;
  margin-bottom: 6px;
}