/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.sub-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 70px;
  background-color: #5CE2E9;
}


.tag {
  margin-right: 20px;
  color: #FFFFFF;
  cursor: pointer;
}

.active {
  color: #24ABC0;
  font-weight: bold;
}