/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 70px;
  background-color: #24ABC0;
}

.header-text1-link {
  margin-left: 20px;
  margin-right: 40px;
}

.header-text1 {
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 24px;
}

.header-text2-link {
  margin-left: 20px;
}

.header-text2 {
  cursor: pointer;
  color: #FFFFFF;
}

.upload-link {
  margin-left: auto;
  margin-right: 20px;
}

.header-icon {
  cursor: pointer;
  color: #FFFFFF;
}

.login-link {
  margin-right: 20px;
}

.user-link {
  margin-right: 20px;
}