/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.about-page {
  width: 100vw;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow: scroll;
}

.about-page-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-container {
  width: 500px;
}



