/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.personal-page {
  display: flex;
  width: 100%;
}

.tags {
  width: 100%;
}

.authors {
  width: 100%;
}

.chart-title {
  font-size: 24px;
}