/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.edit-article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.edit-article-title {
  width: 700px;
  margin-bottom: 50px;
}

.edit-article-components-header{
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.edit-article-sub-title {
  width: 700px;
  margin-bottom: 50px;
}

.edit-article-tags {
  width: 700px;
  margin-bottom: 50px;
}

.edit-article-contents {
  width: 700px;
}