/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.edit-article-tags-list {
  display: flex;
  flex-wrap: wrap;
}

.edit-article-tag {
  display: flex;
  align-items: center;
  height: 30px;
  margin-right: 10px;
}

