/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.view-article {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}

.view-article-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.view-article-sub-title {
  font-size: 28px;
  margin-bottom: 20px;
}

.view-article-tags {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.view-article-tag {
  margin-right: 10px;
}

.view-article-author {
  margin-bottom: 20px;
  font-size: 20px;
}

.view-article-average-rate{
  margin: 20px;
}

.view-article-rate-input {
  margin-top: 30px;
}