/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.authors {
  width: 100vw;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow: scroll;
}

.authors-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.authors > .author {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}