/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - 70px);
}

.login-title {
  font-size: 24px;
}

.signon-link {
  margin-top: 50px;
  text-decoration: underline;
}