/* Color Scheme 
Main: #24ABC0
Sub: #5CE2E9
Text Main 1: #000000
Text Main 2: #FFFFFF
Text Sub: #777777
*/

.user-page {
  width: 100vw;
  height: calc(100vh - 70px);
  max-height: calc(100vh - 70px);
  overflow: scroll;
}

.user-page-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  widows: 100vw;
  padding-top: 10px;
}

.user-setting {
  display: flex;
  flex-direction: row-reverse;
}

.user-setting-icon {
  margin-right: 20px;
  margin-top: 20px;
}

.user-name, .user-email {
  width: 400px;
  margin-bottom: 50px;
}

.user-password {
  width: 400px;
  margin-bottom: 100px;
}

.user-page-setting-buttons {
  display: flex;
}

.user-page-cancel-button {
  margin-right: 10px;
}

.user-history {
  width: 400px;
}

.user-history-title {
  font-size: 24px;
}